.mr {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #616161; /* fallback for old browsers */
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 30px;
}

.wrapper-mr {
  width: 430px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
}

.wrapper-mr header {
  color: #6990f2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.wrapper-mr .form-mr {
  height: 167px;
  display: flex;
  margin: 30px 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990f2;
}

.form-mr :where(i, p) {
  color: #6990f2;
}

.form-mr i {
  font-size: 50px;
}

.form-mr p {
  font-size: 16px;
  margin-top: 15px;
}

.section-mr .row-mr {
  background: #e9f0ff;
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5pxs;
  display: flex;
  align-items: cemter;
  justify-content: space-between;
}

.section-mr .row-mr i {
  font-size: 30px;
  color: #6990f2;
}

.section-mr .details-mr span {
  font-size: 14px;
}

.progress-area .row-mr .content-mr {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details-mr {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .progress-bar {
  height: 6px;
  width: 100%;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 30px;
}

.progress-bar .progress {
  height: 100%;
  width: 80%;
  background: #6990f2;
  border-radius: inherit;
  transition: all 0.5s ease-in;
}

.uploaded-area {
  max-height: 230px;
  overflow-y: scroll;
  transition: all 0.5s ease-in;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row-mr .content-mr {
  display: flex;
  align-items: center;
}

.uploaded-area .row-mr .details-mr {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .details-mr .size-mr {
  font-size: 11px;
  color: #404040;
}

.uploaded-area .fa-check-mr {
  color: #6990f2;
  font-size: 16px;
}
