@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,400;1,500;1,700&display=swap");

:root {
  --first-color: #12192c;
  --text-color: #8590ad;
}

:root {
  --body-font: "Roboto Mono", monospace;
  --big-fonr-size: 2rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-fonr-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-style: italic;
  color: var(--first-color);
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.login__form {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.shape1,
.shape2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.shape1 {
  top: -7rem;
  left: -3.5rem;
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    rgba(196, 196, 196, 0)
  );
}
.shape2 {
  bottom: -6rem;
  right: -5.5rem;
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    rgba(196, 196, 196, 0)
  );
  transform: rotate(180deg);
}

.form {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.form__content {
  width: 290px;
}

.form__img {
  display: none;
}

.form__title {
  font-size: var(--big-fonr-size);
  font-weight: 500;
  margin-bottom: 2rem;
}

.form__div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin-bottom: 1rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--text-color);
}

.form__div.focus {
  border-bottom: 1px solid var(--first-color);
}

.form__div-one {
  margin-bottom: 3rem;
}

.form__icon {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: 0.3s;
}

.form__div.focus .form__icon {
  color: var(--first-color);
}

.form__label {
  display: block;
  position: absolute;
  left: 0.75rem;
  top: 0.25rem;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--text-color);
  transition: 0.3s;
}

.form__div.focus .form__label {
  top: -1.5rem;
  font-size: 0.875rem;
  color: var(--first-color);
}

.form__div-input {
  position: relative;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: var(--first-color);
  transition: 0.3s;
}
.link {
  display: flex;
}
.form__forgot {
  display: block;
  text-align: right;
  margin-bottom: 2rem;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 500;
  transition: 0.5;
}

.form__new {
  display: block;
  text-align: right;
  margin-bottom: 3rem;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 500;
  transition: 0.5;
}

.form__forgot:hover {
  color: var(--first-color);
  transition: 0.5s;
}
.form__new:hover {
  color: var(--first-color);
  transition: 0.5s;
}
.form__button {
  width: 100%;
  padding: 1rem;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
  margin-bottom: 1rem;
  background-color: var(--first-color);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  /* transition: .3s; */
}

.form__button:hover {
  box-shadow: 0px 15px 36px rgba(0, 0, 0, 0.15);
}

.form__social {
  text-align: center;
}

.form__social-text {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: 700;
  margin-bottom: 1rem;
}
.form__social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: var(--text-color);
  color: #fff;
  font-size: 1.25rem;
  border-radius: 50%;
}

.form__social-icon:hover {
  background-color: var(--first-color);
}

@media screen and (min-width: 968px) {
  .shape1 {
    width: 400px;
    height: 400px;
    top: -11rem;
    left: -6.5rem;
  }

  .shape2 {
    width: 300px;
    height: 300px;
    right: -6.5rem;
  }

  .form {
    grid-template-columns: 1.5fr 1fr;
    padding: 0 2rem;
  }

  .form__content {
    width: 320px;
  }

  .form__img {
    display: block;
    width: 1500px;
    justify-self: center;
    opacity: 0.65;
  }
}
